<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://github.com/roboxue/bang" target="_blank">Bang&nbsp;
            <ruby>
                棒<rt>Bàng</rt>
            </ruby>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <p class="navbar-text">Lightweight <code>JSON</code> workspace - made for developers</p>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link" id="dismissBang"><span class="glyphicon glyphicon-remove">Dismiss</span></a></p>
    </div>
</div>
