<div class="navbar-header">
    <a class="navbar-brand" href="http://github.com/roboxue/bang">Bang
        <ruby>
            棒<rt>Bàng</rt>
        </ruby>
        <small>(Awesome)</small>
    </a>
</div>
<div class="collapse navbar-collapse">
    <p class="navbar-text">Lightweight awesome <code>JSON</code> workspace - the raw response is in variable <code class="bang">bang</code></p>
    <p class="navbar-text navbar-right"><a href="#" class="navbar-link" id="dismiss">Dismiss Workspace</a></p>
</div>
