<div class="form-horizontal">
    <div class="form-group">
        <label for="{{textAreaId}}" class="col-sm-2 control-label">Query</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="{{textAreaId}}" placeholder="{{textAreaPlaceholder}}"></textarea>
            <span id="helpBlock" class="help-block">Supports native Javascript:
                <a href="http://jquery.com">jQuery</a>,
                <a href="http://d3js.org">d3.js</a>,
                <a href="http://underscorejs.org">underscore.js</a>,
                <a href="http://backbonejs.org">backbone.js</a>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="runQuery">Run it!</button>
            <button type="reset" class="btn btn-default" id="reset">Reset</button>
        </div>
    </div>
</div>