<div class="container-fluid">
    <div class="collapse navbar-collapse row">
        <div class="form-horizontal navbar-left col-md-10">
            <div class="form-group">
                <label for="{{textAreaId}}" class="col-md-3 control-label"><span class="navbar-text">Javascript Query</span></label>
                <div class="col-md-9">
                    <textarea class="form-control" id="{{textAreaId}}" placeholder="{{textAreaPlaceholder}}"></textarea>
                    <span id="helpBlock" class="help-block">Raw JSON Object is in variable <code class="bang">bang</code>. Supports native Javascript, plus&nbsp;
                        {{#supportedFrameworks}}
                            <a href="{{url}}">{{name}}</a>&nbsp;
                        {{/supportedFrameworks}}
                    </span>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <button type="submit" class="btn btn-default" id="runQuery">Run it!</button>
            <button type="reset" class="btn btn-default" id="reset">Reset</button>
        </div>
    </div>
</div>