<div class="form-group" data-key="protocol">
    <label class="control-label col-sm-2">Protocol</label>
    <div class="col-sm-10"><p class="form-control-static">{{protocol}}</p></div>
</div>
<div class="form-group has-feedback" data-key="hostname">
    <label for="uriHostname" class="control-label col-sm-2">Hostname</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="uriHostname" placeholder="{{hostname}}">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="form-group has-feedback" data-key="port">
    <label for="uriPort" class="control-label col-sm-2">Port</label>
    <div class="col-sm-10">
        <input type="number" min="0" max="99999" class="form-control" id="uriPort" placeholder="{{#port}}{{port}}{{/port}}{{#port}}80{{/port}} {{#port}}value="{{port}}"{{/port}}">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="form-group has-feedback" data-key="path">
    <label for="uriPath" class="col-sm-2 control-label">Path
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="uriPath" placeholder="{{#path}}{{path}}{{/path}}{{^path}}/path{{/path}}" {{#path}}value="{{path}}"{{/path}}>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="form-group has-feedback" data-key="hash">
    <label for="uriHash" class="col-sm-2 control-label">Hash
    </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="uriHash" placeholder="{{#hash}}{{hash}}{{/hash}}{{^hash}}#hash{{/hash}}" {{#hash}}value="{{hash}}"{{/hash}}>
        <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2">Query String</label>
    <div class="col-sm-10">
        <pre class="form-control-static" id="{{queryStringBlockId}}"></pre>
    </div>
</div>
<div id="{{queryStringListId}}">
</div>
<div class="form-group" id="{{newQueryParameterFormId}}">
    <div class="col-sm-offset-2 col-sm-2">
        <button class="btn btn-default control-label glyphicon glyphicon-plus-sign">Add</button>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="{{keyInputId}}" placeholder="new key">
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" id="{{valueInputId}}" placeholder="new value">
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col=sm-10">
        <a id="{{refreshLinkId}}">Refresh</a>
    </div>
</div>
