.panel-toggle
  -webkit-user-select none
  -moz-user-select none
  -khtml-user-select none
  -ms-user-select none
  cursor pointer

thead .sortable
  -webkit-user-select none
  -moz-user-select none
  -khtml-user-select none
  -ms-user-select none
  cursor pointer

.bang
  cursor pointer

.panel-heading
  word-break break-all

#rawResponse .json-row
  -webkit-user-select none
  -moz-user-select none
  -khtml-user-select none
  -ms-user-select none

#rawResponse .json-row:hover
  span.json-content
    background-color #f7e1b5

.json-key
  color brown

.json-value
  color navy

.json-string
  color olive

.json-comment
  color gray

li.list-group-item
  overflow: auto

  span.pull-right
    word-break break-all

table
  table-layout fixed
  word-break break-all